@charset "UTF-8";
/* CSS Document */

#poudre {
	border:1px bbb solid;
	min-height:493px;
	margin:0;
	padding:0;
	padding-top:10px;
	position:relative;
	width:100%;
	box-sizing: border-box;
}

#poudre #resultligne {
	height:347px;
	overflow-y: scroll;
	border: none;
}

::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;
}

::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0,0,0,.5);
   -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#poudre p{
	color:#FFFFFF !important;
	font-weight:700;
	font-size:16px !important;
	letter-spacing:2px;
}

#recherche {
    position: relative;
}


#filtrer{
	text-align:center;
	margin-top:20px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

#recherche div {
    position: absolute;
    top: 5px;
    right: 25px;
    margin: 3px 0;
	background:none;
	border:none;
	cursor:pointer;
}

.lignepoudre {
	width:100%;
	background-color:#eeeeee;
	height:20px;
	margin:0;
	padding:0;
	cursor:pointer;
	float:left;
}

.lignepoudre:hover {
	background-color:#cccccc;
	
}

#blopoudre, #blocref{
	float: left;
	width: 330px;

}

#lenomdelapoudre, #lenomdelaref {
	float:left;
	width:630px;
	height:30px;
	border:0px;
	border-radius:4px;
	margin:0;
	padding:0;
	background-color:<?php echo $couleur1; ?>;
}

.lignepoudre .refpoudre {
	width:15%;
	margin:0;
	padding:0;
	padding-left:5px;
	float:left;
	font-size:0.8em;
	color:#333333;
	font-style:italic;
}
.lignepoudre .nompoudre {
	width:98%;
	margin:0;
	padding:0 0 0 5px;
	float:left;
	font-size:0.8em;
	color:#000000;
	position:relative;
}

.lignepoudre .nompoudre .choix{
	position:absolute;
	right:0;
	top:0;
	font-style:italic;
	color:#000000;
}

#envoirec .fa {
	color:#666666;
}

#envoirec span {
	color:#666666;
	font-size:10px;
	background-color:#CCCCCC;
	border:1px grey solid;
	padding:3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* Bootstrap 
.container {
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}



.row {

	margin-right:-15px;
	margin-left:-15px;
	float:left;
}

.col-12, .col-4, .col-8{
	position:relative;
	padding-right:15px;
	padding-left:15px;
}

.col-12 {
	float:left;
	width:998px;
}


.col-8 {
	float:left;
	width:708px;
}

.col-4 {
	float:left;
	width:200px;
}
*/
.border-right {
	border-right:1px solid #bbb!important
}

.form-check {
	position:relative;
	display:block;
	padding-left:1.25rem;
	line-height:1.5;
}
.form-check-input {
	position:absolute;
	margin-top:.3rem;
	margin-left:-1.25rem;
}
.form-check-input:disabled~.form-check-label {
color:#6c757d;
}
.form-check-label {
	margin-bottom:0;
	color:#f5f5f5 !important;
	font-size:0.9em;
}
.form-check-inline {
	align-items:center;
	padding-left:0;
	margin-right:.75rem;
}
.form-check-inline .form-check-input {
	position:static;
	margin-top:0;
margin-right:.3125rem;
	margin-left:0;
}



.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #efefef;
    background-clip: padding-box;
    border: 1px solid #999999;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		box-sizing: border-box;
}
@media (prefers-reduced-motion:reduce) {
.form-control {
	transition:none;
}
}
textarea.form-control {
	height: calc(5em + .75rem + 2px) !important;
}
.form-control::-ms-expand {
	background-color:transparent;
	border:0;
}
.form-control:focus {
	color:#495057;
	background-color:#fff;
	border-color:#80bdff;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0, 123, 255, .25);
}
.form-control::-webkit-input-placeholder {
	color:#6c757d;
	opacity:1;
}
.form-control::-moz-placeholder {
	color:#6c757d;
	opacity:1;
}
.form-control:-ms-input-placeholder {
	color:#6c757d;
	opacity:1;
}
.form-control::-ms-input-placeholder {
	color:#6c757d;
	opacity:1;
}
.form-control::placeholder {
	color:#6c757d;
	opacity:1;
}
.form-control:disabled, .form-control[readonly] {
	background-color:#e9ecef;
	opacity:1
}
select.form-control:focus::-ms-value {
color:#495057;
background-color:#fff
}
.form-control-file, .form-control-range {
	display:block;
	width:100%
}